@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sigmar&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'inter',sans-serif;
    
}
.nav1{
    display: flex;
    height: 70px;
    width: 100vw;
    /* background-color: aqua; */
    justify-content: space-between;
    padding: 0 40px;
}
.logo{
    display: flex;
    align-items: center;
}
.search{
    display: flex;
    align-items: center;
    
}
.input_text{
    width: 500px;
    height: 40px;
    background-color: #f0f5ff;
    border: none;
    border-radius: 10px;
}
.login{
    display: flex;
    align-items: center;
    gap: 5px;
}
.cart{
    display: flex;
    align-items: center;
    gap: 5px;
}
.seller{
    display: flex;
    align-items: center;
    gap: 5px;
}
.option{
    display: flex;
    align-items: center;
}


/* nav_2 started */


.nav2{
    width: 100vw;
    height: 85vh;
    background-color: #f1f2f4;
    display: flex;
    justify-content: center;
    
}

.nav2_content{
    display: flex;
    width: 98vw;
    height: 150px;
    background-color: white;
    margin-top: 10px;
    justify-content: space-around;
    padding-top: 15px;
    font-size: 14px;
    font-weight: 500;
}

img:not(.logog){
    width: 65px;
    height: 65px;
}

.grocery .mobiles .fashion .electronics .home .applines .travel .beauty .two_weelers{
    display: flex;
    flex-direction: column;
    
}


.text_model{
    display: flex;
    align-items: center;
    text-align: center;
    
}

.search :placeholder-shown{
    font-size: 17px;
    padding-left: 10px;
}

